.riddles-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .riddles-list {
    list-style-type: none;
    padding: 0;
  }
  
  .riddles-list li {
    margin-bottom: 20px;
  }
  
  .riddles-list li p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .riddles-list li ul {
    list-style-type: none;
    padding: 0;
  }
  
  .riddles-list li ul li {
    margin-bottom: 10px;
  }
  
  .riddles-list li ul li button {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  
  .riddles-list li ul li button:hover {
    background-color: #eaeaea;
  }